body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #222222;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #ffffff;
  }

  h2{
    color: #ffffff;
  }
  
  h3 {
    color: #ffffff;
  }
  
  p {
    color: #ffffff;
    margin: 10px 0;
  }
  
  #ejcopiar {
    margin-top: 20px;
    font-style: italic;
  }

  #contenedor {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
  }

  .imgCode{

    width: 300px;
    border-radius: 15px;

  }

  .imgCode-Combinar{
    width: 700px;
    border-radius: 15px;

  }
  

  .imgCode-CopyCombinedObj{
    width: 700px;
    border-radius: 15px;

  }

  